<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/bible.css" />

    <link rel="shortcut icon" href="/assets/imgs/logo.svg" type="image/x-icon" />
    <title>
        <%= book.title %>
    </title>
</head>

<body>
    <div class="main-container">
        <%- include('_header') %>

            <div class="main">
                <div class="bible-container">
                    <div class="go-back">
                        <a href="/bible">
                            <%- include('_chevron_left') %>
                                <span class="text">
                                    New World Translation of the Holy Scriptures (Study Edition)
                                </span>
                        </a>
                    </div>
                    <h1 class="main-title">
                        <%= book.title %>
                    </h1>
                    <p class="desc">Chapters</p>
                    <div class="chapters">
                        <% for(var i=1; i<book.chapters; i++) {%>
                            <a href="/bible/chapter?book=<%= book._id %>&chapter=<%= i %>">
                                <p class="card">
                                    <%= i %>
                                </p>
                            </a>
                            <% } %>
                    </div>
                </div>
            </div>
    </div>
    <%- include('_footer') %>

</body>

</html>