<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/bible.css" />
    <link rel="shortcut icon" href="/assets/imgs/logo.svg" type="image/x-icon" />
    <title>
        <%= data.title %>
    </title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2962649023428921"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-container">
        <%- include('_header') %>
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2962649023428921"
                crossorigin="anonymous"></script>
            <!-- Recomended -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2962649023428921"
                data-ad-slot="7861720094" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="main">
                <div class="bible-container">
                    <div class="go-back">
                        <a href="/bible/<%=bookId%>">
                            <%- include('_chevron_left') %>
                                <span class="text">
                                    <%= data.title %>
                                </span>
                        </a>
                    </div>
                    <h1 class="main-title">
                        <%= data.title %>
                    </h1>
                    <h4 class="secondary">
                        Chapter <%= data.chapter %>
                    </h4>

                    <div class="text-content">
                        <%- data.content %>
                    </div>
                </div>
            </div>
    </div>

    <%- include('_footer') %>

</body>

</html>