<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>Daily Articles</title>
</head>

<body>
  <%- include('_navigation') %>

    <form action="/admin/daily/search" method="GET" class="container form-inline my-4">
      <input class="form-control mr-sm-2" type="date" placeholder="Search" aria-label="Search" name="date" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>

    <div class="container">
      <h1 class="mb-4">Daily Articles</h1>
      <a href="/admin/daily/new" class="btn btn-success">New Article</a>

      <% articles.forEach(article=> { %>
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title">
              <%= article.date.toLocaleDateString() %>
            </h4>

            <div class="card-text mb-2">
              <%= article.description %>
            </div>
            <a href="/admin/daily/<%= article.id %>" class="btn btn-primary">Read More</a>

            <form action="/admin/daily/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
        <% }) %>
    </div>
</body>

</html>