<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/bible.css" />
    <link rel="shortcut icon" href="/assets/imgs/logo.svg" type="image/x-icon" />
    <title>
        Search
    </title>

</head>

<body>
    <div class="main-container">
        <%- include('_header') %>
            <!-- Recomended -->
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2962649023428921"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2962649023428921"
                data-ad-slot="7861720094" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="main">
                <div class="bible-container">
                    <% data.forEach(item=> { %>
                        <div class="search-result-box">
                            <a href="/bible/chapter?book=<%= item.bookId %>&chapter=<%= item.chapter %>">
                                <h3>
                                    <%=item.title%>
                                </h3>
                            </a>
                            <div class="text-content sliced">
                                <%-item.content%>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
    </div>

    <%- include('_footer') %>

</body>

</html>